input:-webkit-autofill {
  box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.178) inset !important;
  -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.192) inset !important;
}


input:-webkit-autofill {
  -webkit-text-fill-color: black !important;
}



.login_circle{
  position: relative;
  top: 7vh;
  z-index: 2;
  height: 78vh;
}

.text{
  font-weight: 400;
  font-size: 2vh;
}

.login-button {
  margin-top: 2vh;
  height: 6vh;
  width: 25vh;
  z-index: 4;
  border-radius: 2vh;
  background-color: #F8A89A;
  color: white;
  font-family: 'Koulen';
  font-style: normal;
  font-weight: 400;
  font-size: 5vh;
  line-height: 1.5;
  text-decoration: none;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 0px #c37568;
  cursor: pointer;
}

.login-button:hover {
  background-color: darksalmon;
}

.login-button:active {
  transform: scale(0.95);
}
