.back
 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #9AD8DA;
  z-index: -1;
}


.Big_cloud {
  position: relative;
  background-image: url('../assets/images/clouds_big.svg');
  top: 10vw;
  height: 45vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  z-index: 1;
  padding-top: 10px;
}

.gradient_circle{
  position: absolute;
  height: 30vw;
  top: 1vw;
  left: 35vw;
}

.w_circle{
  position: absolute;
  height: 24vw;
  top: 4.1vw;
  left: 38vw;
}

.med_girl{
  position: absolute;
  height: 25vw;
  top: 7vw;
  left: 35.5vw;
}

.cloud_small{
  position: absolute;
  height: 20vw;
  top: -12vw;
  left: 32vw;
}
.cloud_small_1{
  position: absolute;
  height: 20vw;
  top: -10vw;
  left: 70vw;
}

.sun{
  position: absolute;
  height: 5vw;
  top: 15vw;
  left: 27vw;
}

.sun_big{

  position: absolute;
  height: 11vw;
  top: 8vw;
  left: 27vw;
  z-index: -1;
}

.news_box{
  position: absolute;
  height: 12vw;
  top: 8vw;
  left: 1vw;
}

.airplane{
  position: absolute;
  height: 3vw;
  top: -8vw;
  left: 5vw;
}

.clock{
  position: absolute;
  height: 10vw;
  top: -6vw;
  left: 60vw;
}

.big_cloud_cont
{
  height: 5000px;
  background-color: #8EAFDC;
  z-index: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .gradient_circle {
    animation: gradient_circle-spin infinite 10s linear;

  }
}
@keyframes gradient_circle-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}