.Top {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #9AD8DA;
  z-index: -1;
}



.Big_cloud {
  position: relative;
  background-image: url('../assets/images/clouds_big.svg');
  top: 15vw;
  height: 45vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  z-index: 1;
  padding-top: 10px;
}

.gradient_circle{
  position: absolute;
  height: 40vw;
  top: 1vw;
  left: 29vw;
}

.w_circle{
  position: absolute;
  height: 34vw;
  top: 4.1vw;
  left: 31.8vw;
}

.med_girl{
  position: absolute;
  height: 35vw;
  top: 7vw;
  left: 29vw;
}

.cloud_small{
  position: absolute;
  height: 20vw;
  top: -15vw;
  left: 32vw;
}
.cloud_small_1{
  position: absolute;
  height: 20vw;
  top: -10vw;
  left: 70vw;
}

.sun{
  position: absolute;
  height: 5vw;
  top: 10vw;
  left: 25vw;
}

.sun_big{
  position: absolute;
  height: 12vw;
  top: 12vw;
  left: 27vw;
  z-index: -1;
}

.news_box{
  position: absolute;
  height: 15vw;
  top: 5vw;
  left: 1vw;
}

.airplane{
  position: absolute;
  height: 5vw;
  top: -10vw;
  left: 5vw;
}

.clock{
  position: absolute;
  height: 12vw;
  top: -10vw;
  left: 60vw;
}


