@font-face {
  font-family: 'Koulent-s';
  src: local('Koulent-s'), url('../../assets/fonts/Koulen-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}




a.my-button {
  top: 42vw;
  position: absolute;
  height: 2.5vw;
  width: 12vw;
  z-index: 4;
  border-radius: 10vw;
  background-color: #F8A89A;
  color: white;
  font-family: 'Koulen';
  font-style: normal;
  font-weight: 400;
  font-size: 5vw;
  line-height: 10vw;
  text-decoration: none;
  padding: 14px 49px;
  border: 0 solid #000;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 0 #c37568;
}

a.my-button span {
  position: absolute;
  height: 5vw;
  width: 20vw;
  z-index: 4;
  transform: rotate(0deg);
}

a.my-button:hover {
  background-color: darksalmon;
}

a.my-button:active {
  transform: scale(0.95);
}
