.reg-button {
    position: absolute;
    margin-top: 600px;
    height: 30px;
    width: 150px;
    z-index: 4;
    border-radius: 10vw;
    background-color: #9AD8DA; /* Changed to light coral color */
    color: white; /* Changed to white color */
    font-family: 'Koulen';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 10wv;
    text-decoration: none;
    padding: 14px 49px;
    border: 0px solid #000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px #669192;
  }
  
  .reg-button span {
    position: absolute;
    height: 5vw;
    width: 20vw;
    z-index: 5;
    transform: rotate(0deg);
  }
  
  .reg-button:hover {
    background-color: #6ca8aa; /* Changed to a darker shade of coral for hover effect */
  }
  
  .reg-button:active {
    transform: scale(0.95);
  }

  .reg_circle{
    position: relative;
    top: 70px;
    z-index: 2;
    scale: 0.98;
  }