.background {
  background-color: #8eafdc;
  height: 100vh;
}

.back-button {
  z-index: 4;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: transform 0.3s ease-in-out; /* Adds smooth transition */
}

@keyframes hoverGrow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

@keyframes hoverShrink {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}

.back-button:hover {
  animation: hoverGrow 0.3s forwards;
}

.back-button:not(:hover) {
  animation: hoverShrink 0.3s forwards;
}

.circle {
  position: absolute;
  height: 90vh; /* Reduced size */
  top: 10px;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
}

.login-img, .reg-img{
  height: 78vh;

}

.login, .reg {

  margin-top: 7vh;
  /* Adjusted to fit new circle size */
  z-index: 1;
}

.login {
  margin-right: -17vh; /* Adjusted distance */
}

.icon {
  transition: filter 0.3s ease-in-out; /* Adds smooth transition */
}

.icon:hover {
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.2)); /* Shadow effect on hover */
}

.login-text, .reg-text {
  position: absolute;
  z-index: 2;
  font-family: 'Koulen';
  font-style: normal;
  font-weight: 400;
  font-size: 80px; /* Reduced font size */
  line-height: 144px;
  color: #FFFFFF;
  transform: rotate(59deg);
  pointer-events: none; /* Text does not interfere with mouse events */
}

.login-text {
  top: 50%;
  margin-left: -280px; /* Adjusted to fit new circle size */
}

.reg-text {
  top: 32%;
  margin-left: 280px; /* Adjusted to fit new circle size */
}
