/* Ensure that the background color is set for autofill */
input:-webkit-autofill {
  box-shadow: 0 0 0 30px rgb(255, 255, 255) inset !important;
  -webkit-box-shadow: 0 0 0 30px rgb(255, 255, 255) inset !important;
}

/* Style for autofilled text color */
input:-webkit-autofill {
  -webkit-text-fill-color: black !important;
}

.reg_circle{
  position: relative;
  top: 7vh;
  z-index: 2;
  height: 78vh;
}

.reg-button {
  margin-top: 1vh;
  height: 6vh;
  width: 25vh;
  z-index: 4;
  border-radius: 2vh;
  font-weight: 400;
  font-size: 5vh;
  line-height: 1.5;
  background-color: #9AD8DA;
  color: white;
  font-family: 'Koulen';
  font-style: normal;
  text-decoration: none;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 0 #669192;
  cursor: pointer;
}

.reg-button:hover {
  background-color: #6ca8aa;
}

.reg-button:active {
  transform: scale(0.95);
}
